<div class="span12">
	<div>Your Preferences</div>
	<ul class="preferences">
	</ul>
	<div id="newPreferenceContainer">
		<div>Add A Preference</div>
		<form id="create-book-preference">
			<input name="keyword"/>
			<button id="submit-preference" type="button" class="btn">Add Preference</button>
		</form>
	</div>
</div>