<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Mixed Home Page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="/mixed-web/wro/vendor.js"></script>
		<link href="/mixed-web/wro/vendor.css" rel="stylesheet" />
	</head>
	<body>
		{{> navigation}}
		<h1>Welcome to the Mixed Page</h1>
		<div class="container-fluid">
			<div id="userContainer">
				<div class="row-fluid">
					<div class="span6">{{user.firstName }}</div>
					<div class="span6">{{user.lastName }}</div>
				</div>
			</div>
			<div id="messagesContainer">
				<div class="row-fluid">
					<div class="span12">
						<h2>Your Messages</h2>
						<div class="messages">
							{{#each messageList}}
								<div class="row-fluid">
									<div class="span6">{{messageText }}</div>
									<div class="span6">{{userName }}</div>
								</div>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
