<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Mixed Home Page</title>
		{{> head}}
	</head>
	<body>
		{{> navigation}}
		<h1>Welcome to the Mixed Page</h1>
		<div class="container-fluid">
			<div id="preferenceContainer">
				
				
			</div>
			<div id="booksContainer">
				
			</div>
		</div>
	</body>
</html>