			<div class="span12">
                <form id="create-message-form" >
					<textarea name="messageText"></textarea>
					<input type="hidden" name="userName" value="{{user.userName}}"/>
					<input type="hidden" name="bookId" value="{{bookData.id}}"/>
					<button id="submitMessage" type="button" class="btn">Post Message</button>
				</form>
			</div>