			<div class="span12">
                <form id="create-message-form" >
					<textarea name="messageText"/>
					<input type="hidden" name="userName" value="{{userName}}"/>
					<button id="submitMessage" type="button" class="btn">Post Message</button>
				</form>
			</div>